# Python Pandas

In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('top_250_imdb_dataset.csv')

# dirty dataset

Initial Inspection

In [23]:
df.shape

(250, 7)

In [24]:
df.columns

Index(['Rank', 'Title', 'Year', 'Rating', 'Duration_Minutes', 'Certificate',
       'Source'],
      dtype='object')

In [25]:
df.head(3)

,Rank,Title,Year,Rating,Duration_Minutes,Certificate,Source
0,1,The Shawshank Redemption,1994,NaN,142,R,IMDb Top 250
1,2,The Godfather,1972,NaN,175,R,IMDb Top 250
2,3,The Dark Knight,2008,NaN,152,PG-13,IMDb Top 250

In [26]:
df.tail(3)

,Rank,Title,Year,Rating,Duration_Minutes,Certificate,Source
247,248,Gangs of Wasseypur,2012,NaN,321,Not Rated,IMDb Top 250
248,249,Drishyam,2015,NaN,163,Not Rated,IMDb Top 250
249,250,Autumn Sonata,1978,NaN,99,PG,IMDb Top 250

## Structural Information

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              250 non-null    int64
 1   Title             250 non-null    object
 2   Year              250 non-null    int64
 3   Rating            0 non-null      float64
 4   Duration_Minutes  250 non-null    int64
 5   Certificate       245 non-null    object
 6   Source            250 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 13.8+ KB

In [28]:
df.describe()

             Rank         Year  Rating  Duration_Minutes
count  250.000000   250.000000     0.0        250.000000
mean   125.500000  1988.620000     NaN        131.516000
std     72.312977    25.552442     NaN         35.747128
min      1.000000  1921.000000     NaN         45.000000
25%     63.250000  1973.000000     NaN        108.250000
50%    125.500000  1995.000000     NaN        127.500000
75%    187.750000  2009.000000     NaN        147.750000
max    250.000000  2025.000000     NaN        374.000000

In [29]:
df.describe(include="all")

,Rank,Title,Year,Rating,Duration_Minutes,Certificate,Source
count,250.000000,250,250.000000,0.0,250.000000,245,250
unique,NaN,250,NaN,NaN,NaN,8,1
top,NaN,The Shawshank Redemption,NaN,NaN,NaN,R,IMDb Top 250
freq,NaN,1,NaN,NaN,NaN,103,250
mean,125.500000,NaN,1988.620000,NaN,131.516000,NaN,NaN
std,72.312977,NaN,25.552442,NaN,35.747128,NaN,NaN
min,1.000000,NaN,1921.000000,NaN,45.000000,NaN,NaN
25%,63.250000,NaN,1973.000000,NaN,108.250000,NaN,NaN
50%,125.500000,NaN,1995.000000,NaN,127.500000,NaN,NaN
75%,187.750000,NaN,2009.000000,NaN,147.750000,NaN,NaN
max,250.000000,NaN,2025.000000,NaN,374.000000,NaN,NaN

### Column Level Description

In [34]:
df["Certificate"].nunique()

8

In [32]:
df["Certificate"].unique()

array(['R', 'PG-13', 'Approved', 'PG', 'Not Rated', 'G', nan, 'NC-17',
       'Passed'], dtype=object)

In [33]:
df["Certificate"].value_counts()

Certificate
R            103
PG            38
PG-13         34
Not Rated     23
Approved      22
G             18
Passed         6
NC-17          1
Name: count, dtype: int64

## Sorting

In [50]:
df_sorted = df.sort_values(by="Year", ascending=True)
df_sorted.head(3)

,Rank,Title,Year,Rating,Duration_Minutes,Certificate,Source,Duration_By_Year
138,139,The Kid,1921,NaN,68,Passed,IMDb Top 250,0.035398
204,205,Sherlock Jr.,1924,NaN,45,Passed,IMDb Top 250,0.023389
203,204,The Gold Rush,1925,NaN,95,Approved,IMDb Top 250,0.049351

## Group By

In [42]:
df.groupby("Certificate").size()

Certificate
Approved      22
G             18
NC-17          1
Not Rated     23
PG            38
PG-13         34
Passed         6
R            103
dtype: int64

In [43]:
df.groupby("Certificate")["Duration_Minutes"].mean()

Certificate
Approved     130.363636
G            118.277778
NC-17        102.000000
Not Rated    134.695652
PG           119.473684
PG-13        144.294118
Passed        92.833333
R            136.320388
Name: Duration_Minutes, dtype: float64

## Column-Level Operations

In [51]:
df_sorted["Duration_By_Year"] = df["Duration_Minutes"] / df["Year"]
df_sorted.head()

,Rank,Title,Year,Rating,Duration_Minutes,Certificate,Source,Duration_By_Year
138,139,The Kid,1921,NaN,68,Passed,IMDb Top 250,0.035398
204,205,Sherlock Jr.,1924,NaN,45,Passed,IMDb Top 250,0.023389
203,204,The Gold Rush,1925,NaN,95,Approved,IMDb Top 250,0.049351
208,209,The General,1926,NaN,78,Passed,IMDb Top 250,0.040498
118,119,Metropolis,1927,NaN,153,Passed,IMDb Top 250,0.079398

In [54]:
df_sorted["Is_Short_Film"] = df["Duration_Minutes"] < 50
df_sorted.head(3)

,Rank,Title,Year,Rating,Duration_Minutes,Certificate,Source,Duration_By_Year,Is_Short_Film
138,139,The Kid,1921,NaN,68,Passed,IMDb Top 250,0.035398,False
204,205,Sherlock Jr.,1924,NaN,45,Passed,IMDb Top 250,0.023389,True
203,204,The Gold Rush,1925,NaN,95,Approved,IMDb Top 250,0.049351,False

## Checking for Missing Values

In [55]:
df.isnull().sum()

Rank                  0
Title                 0
Year                  0
Rating              250
Duration_Minutes      0
Certificate           5
Source                0
Duration_By_Year      0
dtype: int64

In [58]:
# As percent

df.isnull().mean() * 100

Rank                  0.0
Title                 0.0
Year                  0.0
Rating              100.0
Duration_Minutes      0.0
Certificate           2.0
Source                0.0
Duration_By_Year      0.0
dtype: float64

In [59]:
df.head(3)

,Rank,Title,Year,Rating,Duration_Minutes,Certificate,Source,Duration_By_Year
0,1,The Shawshank Redemption,1994,NaN,142,R,IMDb Top 250,0.071214
1,2,The Godfather,1972,NaN,175,R,IMDb Top 250,0.088742
2,3,The Dark Knight,2008,NaN,152,PG-13,IMDb Top 250,0.075697

In [62]:
df.drop_duplicates("Year")

,Rank,Title,Year,Rating,Duration_Minutes,Certificate,Source,Duration_By_Year
0,1,The Shawshank Redemption,1994,NaN,142,R,IMDb Top 250,0.071214
1,2,The Godfather,1972,NaN,175,R,IMDb Top 250,0.088742
2,3,The Dark Knight,2008,NaN,152,PG-13,IMDb Top 250,0.075697
3,4,The Godfather Part II,1974,NaN,202,R,IMDb Top 250,0.102330
4,5,12 Angry Men,1957,NaN,96,Approved,IMDb Top 250,0.049055
...,...,...,...,...,...,...,...,...
206,207,The Deer Hunter,1978,NaN,183,R,IMDb Top 250,0.092518
207,208,The Wages of Fear,1953,NaN,156,Not Rated,IMDb Top 250,0.079877
208,209,The General,1926,NaN,78,Passed,IMDb Top 250,0.040498
218,219,The Third Man,1949,NaN,104,Approved,IMDb Top 250,0.053361
239,240,The Passion of Joan of Arc,1928,NaN,114,Passed,IMDb Top 250,0.059129

In [67]:
df.drop("Duration_By_Year", axis=1)

,Rank,Title,Year,Rating,Duration_Minutes,Certificate,Source
0,1,The Shawshank Redemption,1994,NaN,142,R,IMDb Top 250
1,2,The Godfather,1972,NaN,175,R,IMDb Top 250
2,3,The Dark Knight,2008,NaN,152,PG-13,IMDb Top 250
3,4,The Godfather Part II,1974,NaN,202,R,IMDb Top 250
4,5,12 Angry Men,1957,NaN,96,Approved,IMDb Top 250
...,...,...,...,...,...,...,...
245,246,To Be or Not to Be,1942,NaN,99,Approved,IMDb Top 250
246,247,The Grapes of Wrath,1940,NaN,129,Approved,IMDb Top 250
247,248,Gangs of Wasseypur,2012,NaN,321,Not Rated,IMDb Top 250
248,249,Drishyam,2015,NaN,163,Not Rated,IMDb Top 250
249,250,Autumn Sonata,1978,NaN,99,PG,IMDb Top 250

In [71]:
df.drop(columns=["Rating","Title","Source"])

     Rank  Year  Duration_Minutes Certificate
0       1  1994               142           R
1       2  1972               175           R
2       3  2008               152       PG-13
3       4  1974               202           R
4       5  1957                96    Approved
..    ...   ...               ...         ...
245   246  1942                99    Approved
246   247  1940               129    Approved
247   248  2012               321   Not Rated
248   249  2015               163   Not Rated
249   250  1978                99          PG

[250 rows x 4 columns]

In [75]:
# drop based on threshold of missing values, >50 below

df.dropna(axis=1, thresh=50)

,Rank,Title,Year,Duration_Minutes,Certificate,Source
0,1,The Shawshank Redemption,1994,142,R,IMDb Top 250
1,2,The Godfather,1972,175,R,IMDb Top 250
2,3,The Dark Knight,2008,152,PG-13,IMDb Top 250
3,4,The Godfather Part II,1974,202,R,IMDb Top 250
4,5,12 Angry Men,1957,96,Approved,IMDb Top 250
...,...,...,...,...,...,...
245,246,To Be or Not to Be,1942,99,Approved,IMDb Top 250
246,247,The Grapes of Wrath,1940,129,Approved,IMDb Top 250
247,248,Gangs of Wasseypur,2012,321,Not Rated,IMDb Top 250
248,249,Drishyam,2015,163,Not Rated,IMDb Top 250
249,250,Autumn Sonata,1978,99,PG,IMDb Top 250